version: "3.7"

services:
  app_proxy:
    environment:
      APP_HOST: copexit-am-i-exposed_web_1
      APP_PORT: 8080
      PROXY_AUTH_ADD: "false"

  web:
    image: ghcr.io/copexit/am-i-exposed-umbrel:v0.12.0
    init: true
    restart: on-failure
    stop_grace_period: 30s
    environment:
      APP_MEMPOOL_IP: ${APP_MEMPOOL_IP}
      APP_MEMPOOL_PORT: ${APP_MEMPOOL_PORT}
      APP_TOR_PROXY_IP: ${APP_COPEXIT_AM_I_EXPOSED_TOR_PROXY_IP}
      APP_TOR_PROXY_PORT: "3001"
      APP_MEMPOOL_HIDDEN_SERVICE: ${APP_MEMPOOL_HIDDEN_SERVICE}
    depends_on:
      - tor-proxy
    networks:
      default:
        ipv4_address: ${APP_COPEXIT_AM_I_EXPOSED_IP}

  tor-proxy:
    image: ghcr.io/copexit/am-i-exposed-tor-proxy:v0.12.0
    init: true
    restart: on-failure
    stop_grace_period: 10s
    environment:
      PORT: "3001"
      TOR_PROXY_IP: ${TOR_PROXY_IP}
      TOR_PROXY_PORT: ${TOR_PROXY_PORT}
    networks:
      default:
        ipv4_address: ${APP_COPEXIT_AM_I_EXPOSED_TOR_PROXY_IP}
